@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --font: 'Poppins', 'sans-serif';
}
.content {
    font-family: var(--font)
}


.section-title {
    font-size: calc(3rem + 1vw);
    margin: 25px 0;
}

.section-text {
    font-size: 2vw;
    text-align: justify;
    line-height: 40px;
}