* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.navbar {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.links {
    display: flex;
}

.link {
    margin: 0 1rem;
}