.section-container {
    height: auto;
    clip-path: polygon(0 12%, 100% 0, 100% 88%, 0 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50vh 15vw;
}